body{
	margin:0;
	padding:0;
	font-family: 'Aclonica';font-size: 22px;	
}

.background{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	background-position: center;
 

}
.background1{
	background-image: url(up1.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	background-position: center;
}
.background2{
	background-image: url(down.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	background-position: center;
}
.background3{
	background-image: url(lay.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	background-position: center;
}

.background4{
	background-image: url(lay.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	background-position: center;
}

.victory{
	background-image: url(victory.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center; 
	background-attachment: fixed;
	
}
.lose{
	background-image: url(lose.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center; 
	background-attachment: fixed;
	
	
}
.ywin{
	background-image: url(you_win.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	padding-left: 50px;
	
	
}
.ylose{
	background-image: url(you_lose.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-color: black;
	padding-left: 50px;
	
	
}

.button1{
  background-color: rgb(6, 0, 20);
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 450;
	
}

.button1:hover{ background:rgb(6, 0, 53);
}

.button1:active{background:rgb(147,112,219);}
.buttons_div {
	text-align:center;
	padding-top:450px;
}
.buttons_diiv {
	text-align:center;
	padding-top:100px;
}
.buttons_dov {
	text-align:center;
	padding-top:100px;
}

.button2 {
  background-color: rgb(6, 0, 20);
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 200;
  
}
.button2:hover{ background:rgb(6, 0, 53);
}
.button2:active{background:rgb(147,112,219);}

.button3{
  background-color: rgb(6, 0, 20);
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  width: 100;
	
}

.button3:hover{ background:rgb(6, 0, 53);
}

.button:active{background:rgb(147,112,219);}

.zad{
	padding-left: 5px;
	padding-top: 5px;
	
}

.buttons_dev {
	text-align:center;
	padding-top:200px;
	padding-left:100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:80%;
}

.heading{
  padding-top: 5px;
  color: white;
  text-align:center;
  text-shadow: 4px 4px black;
	
}
.child{
	float:left;
	width: 50%
	
}
.just{
	color: white;
	text-shadow: 4px 4px black;
}

.text_info{
  padding-top: 5px;
  color: white;
  text-align:right;
  text-shadow: 4px 4px black;
  padding-right:100px;
}
.text_left{
  padding-top: 5px;
  color: white;
  text-align:left;
  text-shadow: 4px 4px black;
  padding-left:250px;
}
.victory_left{
  padding-top: 180px;
  color: white;
  text-align:left;
  text-shadow: 4px 4px black;
  padding-left:250px;
}
.ywint{
  padding-top: 200px;
  color: white;
  text-align:right;
  text-shadow: 4px 4px black;
  padding-right:100px;
}

.pad{
	padding-left:50px;
}